<a href="https://colab.research.google.com/github/pdmjr/material-rlang/blob/main/notebooks/R-intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Material introdutório sobre a Linguagem R

(Exemplos do material: https://cran.r-project.org/doc/contrib/Paradis-rdebuts_en.pdf)

# Criando, listando e apagando objetos na memória

Atribuição

In [ ]:
n <- 15
n
5 -> n
n

[1] 15

[1] 5

In [ ]:
x <- 1
X <- 10
x
X

In [ ]:
n <- 10 + 2
n

In [ ]:
n <- 3 + rnorm(1)
n

Listagem do ambiente

In [ ]:
ls()

Remoção de objetos

In [ ]:
rm(n)

In [ ]:
rm(x, X)

Expressão sem atribuição a um objeto

In [ ]:
(10 + 2) * 5

Vários comandos na mesma linha

In [ ]:
name <- "Carmen"; n1 <- 10; n2 <- 100; m <- 0.5
ls()

[1] "m"    "n"    "n1"   "n2"   "name"

Filtrando a listagem por algum padrão de texto

In [ ]:
ls(pattern = "m")

[1] "m"    "name"

In [ ]:
ls(pat = "^m")

[1] "m"

Listagem com detalhes dos objetos

In [ ]:
ls.str()

In [ ]:
rm(list = ls())
ls()

# Ajuda on-line

Utilizando as funções de ajuda ```?``` e ```help()```

In [ ]:
?ls

In [ ]:
help(ls)

In [ ]:
help("ls")

As aspas são importantes para caracteres especiais

In [ ]:
?*

In [ ]:
help("*")

Por padrão, a função ```help()``` procura apenas por pacotes carregados na memória; mas também é possível buscar em um pacote específico ou em todos os pacotes com a opção ```try.all.packages = TRUE```

In [ ]:
help("bs")

In [ ]:
help("bs", package = "splines")

In [ ]:
help("bs", try.all.packages = TRUE)

Busca por uma palavra específica em todas as páginas de ajuda

In [ ]:
help.search("tree")

Para o caso de pacotes instalados recentementes, talvez seja necessário atualizar a base de dados utilizada

In [ ]:
help.search("tree", rebuild = TRUE)

Busca por todas as funções em memória cujos nomes contêm uma determinada string

In [ ]:
apropos("help")

[1] "help"         "help.request" "help.search"  "help.start"

# Objetos

R trabalha com objetos que são caracterizados por seus atributos, dois deles intrisecos são ```mode``` e ```length```

In [ ]:
x <- 1
mode(x)
length(x)

In [ ]:
A <- "Gomphotherium"; compar <- TRUE; z <- 1i
mode(A); mode(compar); mode(z)

Números grandes podem ser especificados com notação exponencial

In [ ]:
N <- 2.1e23
N

[1] 2.1e+23

Representação de números infinitos (```Inf``` e ```-Inf```) ou valores que não são números (```NaN```)

In [ ]:
x <- 5/0
x

[1] Inf

In [ ]:
exp(x)

[1] Inf

In [ ]:
exp(-x)

[1] 0

In [ ]:
x - x

[1] NaN

| object  | modes  | several modes possible |
|---|---|---|
| vector  | numeric, character, complex or logical | No |
| factor  | numeric or character  | No  |
| array  | numeric, character, complex or logical  | No  |
| matrix  | numeric, character, complex or logical  | No  |
| data frame  | numeric, character, complex or logical | Yes  |
| ts  | numeric, character, complex or logical  | No  |
| list  | numeric, character, complex, logical, function, expression, ...  | Yes  |

# Leitura de dados em um arquivo

Para saber o diretório de trabalho

In [ ]:
getwd()

Para alterar o diretório de trabalho

In [ ]:
setwd("PATH_TO_THE_NEW_DIRECTORY")

Para ler dados armazenados em formato tabular e em modo texto (ASCII)

In [ ]:
mydata1 <- read.table("data.dat")
mydata1

Warning message in file(file, "rt"):
“cannot open file 'data.dat': No such file or directory”

ERROR: ignored

In [ ]:
mydata2 <- read.table("data.dat", header = T)
mydata2

  var1 var2 var3
1 1    7    3
2 2    3    7
3 3    3    8
4 4    4    3
5 5    5    2
6 6    7    7
7 9    9    4

Nas últimas duas atribuições foram criados dois data frames, cujos valores podem ser acessados pelas indicações das colunas

In [ ]:
mydata1$V1

In [ ]:
mydata1[, 1]

In [ ]:
mydata1["V1"]

In [ ]:
mydata2$V1

NULL

Você entendeu a resposta acima?

In [ ]:
mydata2

  var1 var2 var3
1 1    7    3
2 2    3    7
3 3    3    8
4 4    4    3
5 5    5    2
6 6    7    7
7 9    9    4

In [ ]:
mydata2$var2

[1] 7 3 3 4 5 7 9

In [ ]:
mydata2[, 2]

[1] 7 3 3 4 5 7 9

In [ ]:
mydata2["var2"]

  var2
1 7
2 3
3 3
4 4
5 5
6 7
7 9

FALTA FINALIZAR COM A LEITURA DE CSV